<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Meta Pojos Query"
	        delegate="com.yannicklerestif.metapojos.plugin.project.MetaPojosLaunchConfigurationDelegate"
	        modes="run"               
	        id="com.yannicklerestif.metapojos.Launcher">        
	    </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/mp.gif"
	        configTypeID="com.yannicklerestif.metapojos.Launcher"
	        id="com.yannicklerestif.metapojos.Launcher.image">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="com.yannicklerestif.metapojos.Launcher"
	        class="com.yannicklerestif.metapojos.plugin.project.MetaPojosLaunchTabGroup"
	        id="com.yannicklerestif.metapojos.launcherTabGroup">
	    </launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        id="com.yannicklerestif.metapojos.LauncherShortcut"
	        icon="icons/mp.gif"
	        class="com.yannicklerestif.metapojos.plugin.project.MetaPojosLaunchShortcut"
	        label="Meta Pojos Query"
	        modes="run">
	        <contextualLaunch>
           <enablement>
           </enablement>
  		 </contextualLaunch>
	    </shortcut>
	</extension>
	<extension
      point="org.eclipse.core.resources.natures"
      id="metaPojosNature"
      name="Meta Pojos Nature">
      <runtime>
         <run class="com.yannicklerestif.metapojos.plugin.project.MetaPojosProjectNature">
         </run>
      </runtime>
    </extension>
    <extension
      point="org.eclipse.ui.ide.projectNatureImages">
   		<image
         icon="icons/project_icon.gif"
         id="com.yannicklerestif.metapojos.nature.image"
         natureId="meta-pojos-plugin.metaPojosNature">
   		</image>
	</extension>
    <extension
       point="org.eclipse.ui.newWizards">
	    <category
	          id="meta-pojos-plugin.category2"
	          name="Meta Pojos">
	    </category>
	    <wizard
	          category="meta-pojos-plugin.category2"
	          class="com.yannicklerestif.metapojos.plugin.project.MetaPojosNewWizard"
	          icon="icons/mp.gif"
	          id="meta-pojos-plugin.wizard2"
	          name="Meta Pojos"
	          project="true">
	    </wizard>
	</extension>
    <!--  not necessary right now -->
    <!-- 
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.yannicklerestif.metapojos.plugin.MetaPojosEarlyStartup"></startup>
    </extension>
    -->
</plugin>
